.footer {
    clear: both;
    padding: 10px;
    background: $darkGrey;
    text-align: center;
    &__copyright {
        color: $lightGrey;
        & a {
            border-bottom: 2px solid transparent;
            padding: 2px;
            color: $lightGrey;
            transition: 200ms;
            &:hover {
                color: $accentColor;
            }
        }
    }
}

