
.homeContent {
    width: 100%;
    float: left;
    text-align: center;
    &--left {
        padding: 50px 0;
    }
}


.homePage {
    text-align: center;
    padding: 100px 0;
    // height: 100vh;
    &--top {
        /* height: 100vh; */
        /* background-image: url('../src/assets/screen1.png');
        background-size: 50%;
        margin: 0 auto; */
       /*  background-repeat: no-repeat;
        background-position: center;
 */
    }
    &--about {
        background-color: $accentColor;
        & p {
            color: white;
        }
    }
    &--background {
        height: 60vh;
        background-image: url('../src/assets/screen2.png');
        background-size: 70%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    &--howTo {
        // background-color: $accentColor;
        & h2 {
            margin-bottom: 20px;
        }
    }
    &--h1 {
        text-shadow: 2px 2px 5px #000;
        line-height: 6rem;
        margin-bottom: 10px;
    }
    &--h2 {
        line-height: 3.4rem;
        color: $accentColor;
    }
    &--getStarted {
        
        & a {
            display: inline-block;
            background: white;
            // @extend %button;
        }
    }
    &--start {
        background-color: $accentColor;
    }
}

.startLink {
    @extend %button;
    background: white;
}

.task {
    color: $accentColor;
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    float: left;
}

// Modal Pop Up

.loginOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
}

.loginModal {
    background-color: white;
    border-radius: 15px;
    display: block;
    width: 400px;
    padding: 30px 20px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px $accentColor;
}

.modalText {
    text-align: center;
    padding-top: 20px;
    & h1 {
        line-height: 6rem;
        text-shadow: 3px 3px $accentColor;
        color: #201f1f;
    }
    & h3 {
        line-height: 1rem;
        margin: 20px 0;
        color: $accentColor;
    }
    & p {
        padding: 0 15px;
        line-height: 1rem;
        color: $darkGrey;
    }

}

@media(max-width:650px) {
    .loginModal {
        width: 350px;
    }
    .modalText h1 {
        font-size: 5rem;
    }
    .modalText h3 {
        font-size: 1.6rem;
    }
    .task {
        width: 100%;
    }
}

.modalButtonDiv {
    width: 100%;
    margin: 10px auto;
}

.modalButton {
    width: 80%;
    padding: 10px 20px;
    clear:both;
    margin: 10px 10%;
    @extend %button
}


