
.homeContent {
    width: 100%;
    float: left;
    text-align: center;
    &--left {
        padding: 50px 0;
    }
}


.homePage {
    text-align: center;
    padding: 100px 0;
    // height: 100vh;
    &--top {
        height: 100vh;
        background-image: url('../src/assets/gaelle-marcel-357627-unsplash.jpg');
        background-size: cover;

    }

    &--howTo {
        background-color: $accentColor;
        & h2 {
            margin-bottom: 20px;
        }
    }
    &--h1 {
        line-height: 6rem;
        margin-bottom: 10px;
    }
    &--h2 {
        line-height: 3.4rem;
        color: $accentColor;
    }
    &--getStarted {

        & a {
            display: inline-block;
            @extend %button;
        }
    }
}

.startLink {
    @extend %button;
}

.task {
    color: white;
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    float: left;
}

.loginOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
}

.loginModal {
    background-color: white;
    border-radius: 15px;
    display: block;
    width: 300px;
    padding: 20px 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px $accentColor;
}

.modalText {
    text-align: center;
    padding-top: 20px;
    & h1 {
        line-height: 5rem;
        text-shadow: 3px 3px $accentColor;
    }
    & p {
        padding: 10px 15px 0 15px;
        line-height: 2.5rem;
    }
}

.modalButtonDiv {
    width: 100%;
    margin: 10px auto;
}

.modalButton {
    width: 80%;
    padding: 10px 20px;
    clear:both;
    margin: 10px 10%;
    @extend %button
}


