.landingPage {
    background-image: url("../src/assets/mark-basarab-122141-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    &--button {
        margin-top: 15px;
        & a {
            @extend %button;
            background: white;
        }   
    }
}

.landingPage h1 {
    color: $accentColor;
    text-shadow: 4px 4px $lightGrey;
    font-size: 7rem;
    line-height: 6rem;
}

.landingPage h2 {
    color: $lightGrey;
    text-shadow: 2px 2px 2px $darkGrey;
}

.landingPage .wrapper {
    height: 100vh;
    vertical-align: middle;
}

.landingPage--float {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width:650px) {
    .landingPage h1 {
        font-size: 5rem;
    }
    .landingPage h2 {
        font-size: 2.4rem;
    }
    .landingPage--float {
        text-align: center;
    }
}