//VARIABLES

$darkGrey:#838383;
$lightGrey:#e0e2e2;
$accentColor:#30b8b2;
$linkColor: yellow;

%button {
    border: none;
    border-top: 2px solid #30b8b2;
    border-left: 2px solid #30b8b2;
    background: none;
    font-family: poppins;
    padding: 5px 10px;
    margin-right: 10px;
    color: #30b8b2;
    &:focus {
        background-color: #30b8b2;
        color: white;
        outline: none;
    }
    &:hover {
        background-color: #30b8b2;
        color: white;
    }
   
}
