.navBar {
    background: $accentColor;
    height: 50px;
    z-index: 3;
    position: relative;
    width: 100%;
}

.navBar .wrapper {
    position: relative;
    // width: 100%;
    margin: 0 auto;
}

.navBar nav{
    left: 50%;
}

.navBar nav, .logo {
    width: 50%;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
}


.logo {
    float: left;
    color: white;
    float: right;
    & h3 {
        line-height: 2.4rem;
    }
}

.navBar nav ul {
    list-style: none;
    float: right;
}

.navBar nav ul li {
    display: inline-block;
    font-family: "Poppins";
    padding: 0 15px;
}

.navBar nav ul li a {
    color: white;
    transition: all 200ms;
    &:hover {
        color: gold; 
    }
}

.navBarButton {
    @extend %button;
}

@media (max-width:420px) {
    .navBar nav ul li {
        padding-right: 0;
        padding-left: 10px;
    }
    .navBar .wrapper {
        width: 90%;
    }
    .navBar nav ul li {
        font-size:1.4rem;
    }
}