.tools__container {
    &__wrapper {
        position: relative;
        margin: 10px 0;
    }
    &__label {
        color: red;
        position: absolute;
        top: 10px;
        left: 5px;
        transition: 0.5s;
    }
    &__input {
        padding: 10px 10px;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 2px solid black;
        background-color: none;
        &:focus + .tools__container__label {
            top: -20px;
            font-weight: 600;
            color: green;
        }
        &:valid + .tools__container__label {
            top: -20px;
            font-weight: 600;
            color: green;
        }
    }
}

