.socialForm {
    padding-top: 10px;
    &--half {
        width: 50%;
    }
}

.socialForm--input {
    width: 80%;
    clear: left;
    margin-bottom: 10px;
}

.socialForm--half label {
    width: 300px;
    color: $accentColor;
}