.socialForm {
    padding-top: 10px;
    & label {
        float: left;
    }
    &--input {
        float: left;
        width: 70%;
        padding: 5px;
        clear: both;
    }
    &--half {
        width: 50%;
        float: left;
    }
}

// .socialEmail {
    
// }