.view {
    &__live {
        position: relative;
    }
}

.social {
    position: absolute;
    right: 30px;
    bottom: 30px;
    & ul,
    & li {
        margin: 0px;
        padding: 0px;
        list-style: none;
        float: left;
    }   
}

.liveView {
    
    &__header {
        &__container {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }
    }
}