.view {
    color: white;
    width: 100%;
    // height: 200px;
    border: 1px solid black;
    text-align: left;
    padding: 40px;
    height: 400px;
    overflow: scroll;
    &__title {
        width: 100%;
        text-align: center;
        &--html{
            color: white;
        }
    }
    &__html {
        &__start {
            color: white;
            margin-right: 5px;
        }
        &__end {
            color: white;
            margin-left: 5px;
            letter-spacing: 2px;
            
        }
        background-color: #262721;
        &__head--property{
            color: #a9d038;
            margin: 0 2.5px;
        }
        &__head--attribute{
            color: #e5dd74;
            margin: 0 2.5px;
        }
        &__head--element {
            color: #ee2874;
            &--inline {
                color: #ee2874;
                
            }
        }
    }
}

.indent-1 {
    margin-left: 40px;
}