article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.windowChanger--button {
  border: none;
  border-top: 2px solid #30b8b2;
  border-left: 2px solid #30b8b2;
  background: none;
  font-family: poppins;
  padding: 5px 10px;
  margin-right: 10px;
  color: #30b8b2; }
  .windowChanger--button:focus {
    background-color: purple;
    outline: none;
    border-color: red;
    color: white; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

img {
  width: 100%; }

ul, li {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 700; }

h1 {
  font-size: 6rem;
  text-transform: uppercase; }

h2 {
  font-size: 3.2rem; }

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto; }

a {
  text-decoration: none; }

.landingPage {
  background-image: url("../src/assets/edu-lauton-71055-unsplash.jpg");
  background-size: cover;
  height: 100vh; }
  .landingPage--button {
    background: #30b8b2;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 15px;
    font-family: "Poppins";
    transition: all 200ms; }
    .landingPage--button:hover {
      background: white;
      color: #30b8b2; }
    .landingPage--button a {
      color: white; }
      .landingPage--button a:hover {
        color: #30b8b2; }

.landingPage h1 {
  color: #30b8b2;
  text-shadow: 4px 4px #e0e2e2; }

.landingPage h2 {
  color: #e0e2e2;
  text-shadow: 2px 2px 2px #30b8b2; }

.landingPage .wrapper {
  height: 100vh;
  vertical-align: middle; }

.float {
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.tabs {
  margin-top: 15px; }

.tabs li {
  display: inline-block; }

.tools__tabs {
  padding: 5px 10px;
  border: none;
  border-top: 2px solid #30b8b2;
  border-left: 2px solid #30b8b2;
  margin-right: 10px;
  background: none;
  color: #30b8b2;
  font-family: poppins; }

.tools {
  border: none;
  border-bottom: 2px solid #30b8b2;
  border-left: 2px solid #30b8b2;
  border-right: 2px solid #30b8b2;
  margin-bottom: 15px;
  padding: 15px; }

.navBar {
  background: #30b8b2;
  height: 50px; }

.navBar h3 {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(50%); }

.navBar nav ul {
  list-style: none;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(50%); }

.navBar nav ul li {
  display: inline-block;
  font-family: "Poppins";
  padding: 0 15px; }

.navBar nav ul li a {
  color: white;
  transition: all 200ms; }
  .navBar nav ul li a:hover {
    color: gold; }

.homeContent {
  width: 50%;
  float: left; }
  .homeContent--left {
    padding: 50px 0; }

.homePage--h1 {
  line-height: 6rem; }

.homePage--h2 {
  line-height: 3.4rem;
  color: #30b8b2; }

.homePage--getStarted a {
  display: inline-block;
  border: none;
  border-top: 2px solid #30b8b2;
  border-left: 2px solid #30b8b2;
  background: none;
  font-family: poppins;
  padding: 5px 10px;
  margin-right: 10px;
  color: #30b8b2; }
  .homePage--getStarted a:hover {
    border: none;
    border-bottom: 2px solid #30b8b2;
    border-right: 2px solid #30b8b2; }

.loginOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6); }

.loginModal {
  background-color: white;
  border-radius: 15px;
  display: block;
  width: 300px;
  height: 400px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.modalText {
  text-align: center; }
  .modalText h1 {
    line-height: 5rem;
    text-shadow: 3px 3px #30b8b2; }

.modalButton {
  background-color: #30b8b2;
  border: none;
  border-radius: 15px;
  width: 80%;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
  color: white; }

footer {
  clear: both;
  background: #30b8b2; }

.backgroundHalf {
  width: 50%;
  float: left; }

.socialForm {
  padding-top: 10px; }
  .socialForm label {
    float: left; }
  .socialForm--input {
    float: left;
    width: 70%;
    padding: 5px;
    clear: both; }
  .socialForm--half {
    width: 50%;
    float: left; }

.view {
  color: white;
  width: 100%;
  text-align: left;
  padding: 40px;
  height: 400px; }
  .view__title {
    width: 100%;
    text-align: center; }
    .view__title--html {
      color: white; }
  .view__html {
    overflow-y: scroll;
    background-color: #262721; }
    .view__html--equals {
      color: white; }
    .view__html__start {
      color: white;
      margin-right: 5px; }
    .view__html__end {
      color: white;
      margin-left: 5px;
      letter-spacing: 2px; }
    .view__html__head--property {
      color: #a9d038;
      margin: 0 2.5px; }
    .view__html__head--attribute {
      color: #e5dd74;
      margin: 0 2.5px; }
    .view__html__head--element {
      color: #ee2874; }
      .view__html__head--element--inline {
        color: #ee2874; }

.indent-1 {
  margin-left: 25px; }

.indent-2 {
  margin-left: 50px; }

.indent-3 {
  margin-left: 75px; }

.indent-4 {
  margin-left: 100px; }

.view {
  width: 100%;
  text-align: left;
  padding: 40px;
  height: 400px; }
  .view__title {
    width: 100%;
    text-align: center; }
    .view__title--css {
      color: white; }
  .view__css {
    overflow-y: scroll;
    background-color: #262721; }
    .view__css--element {
      color: #ee2874; }
      .view__css--element span {
        color: white; }
      .view__css--element--start {
        margin-left: 25px;
        color: white; }
    .view__css--class {
      color: #a9d038; }
      .view__css--class--start {
        margin-left: 25px;
        color: white; }
    .view__css--property {
      color: #70cee7;
      margin-left: 25px; }
    .view__css--end {
      color: white; }

.windowChanger {
  list-style: none;
  display: inline-block; }

.view__live {
  position: relative; }

.social {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px; }
  .social ul,
  .social li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left; }
  .social ul {
    position: relative; }

.liveView__header__container {
  padding: 0 40px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%); }

.tools__container--text__h1, .tools__container--text__h2 {
  float: left;
  width: 50%; }

.tools__container__wrapper {
  position: relative;
  margin: 20px 0; }

.tools__container__label {
  color: #838383;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.5s; }

.tools__container__input {
  padding: 10px 10px;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #838383;
  background-color: none; }
  .tools__container__input:focus + .tools__container__label {
    top: -10px;
    font-weight: 600;
    color: #30b8b2;
    font-size: 12px; }
  .tools__container__input:valid + .tools__container__label {
    top: -10px;
    font-weight: 600;
    color: #30b8b2;
    font-size: 12px; }
  .tools__container__input:valid {
    border-bottom: 2px solid #30b8b2; }
